<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <title>About</title>
  </head>
  <body>
   {{>header}}
  <p> This site was created by {{name}}</p>
  <p>It uses data from mapbox.com and weatherstack.com</p>
    <img class="portrait"
      src='https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1189&q=80'
      alt=''
    />
    {{>footer}}
  </body>
</html>